extends _layout/layout

block variables
	- var title = 'Dulich.me'
	- var bodyclass = ''

block css

block body 
	include _layout/header
	main
		//- include _layout/breadcrumb
		include _layout/ct-blog3
	include _layout/footer