extends _layout/layout

block variables
	- var title = 'Dulich.me'
	- var bodyclass = 'product-page-detail'

block css

block body 
	include _layout/header
	main
		//- include _layout/breadcrumb
		include _layout/ct-tourct
	include _layout/footer