extends _layout/layout

block variables
	- var title = 'Dulich.me'
	- var bodyclass = 'productpage'

block css

block body 
	include _layout/header
	main
		//- include _layout/breadcrumb
		include _layout/ct-tour
	include _layout/footer