section.banner-wrap.clearfix
	//- .banner
		.item
			.banner-img
				img(src="img/banner/3.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/4.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/5.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/6.jpg", alt="")
		.item
			.banner-img
				img(src="img/banner/7.jpg", alt="")
	.banner
		.item
			a.banner-img(href="#!")
				img(src="img/banner/bads1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/banner/bads2.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/banner/bads3.jpg", alt="")
	
	//- include search
	a.btn-down(href="#home-hotdeal") <i class="fa fa-angle-double-down" aria-hidden="true"></i>