section.blog-banner.clearfix
	.container
		.img
			img(src="img/tour/img5.jpg", alt="")
		.breadcrumb-wrap.breadcrumb-wrap2
			ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
						span(itemprop='name') Trang chủ
					meta(itemprop='position', content='1')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Blog
					meta(itemprop='position', content='2')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Cẩm nang du lịch
					meta(itemprop='position', content='3')
		h1.blog-name Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
		time 19/05/2017
		
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.blog-page.clearfix
				.blog-detail.content
					p Với phong cách thiết kế hòa hợp mới thiên nhiên, sử dụng gỗ là chất liệu cho khu nhà nghỉ. Six Senses Côn Đảo chính là một phiên bản Maldives tuyệt đẹp của Việt Nam, khiến bất cứ ai đến đây rồi sẽ phải nhớ nhung khi quya trở về nhà. Chỉ cần mở cửa phòng ngủ, thậm chí nằm trên giường bạn cũng có thể phóng tầm mắt để chiêm ngưỡng được toàn cảnh núi non kỳ vĩ, biển trời mênh mông. 
					h5 
						strong Six Senses – thiên đường nghỉ dưỡng trong mơ khi du lịch Côn Đảo
					p Six Senses Côn Đảo nằm cách Vườn Quốc gia Côn Đảo 2 km và cách Sân bay Côn Sơn 8km. Đây là khu nghỉ dưỡng sang trọng hàng đầu tại Việt Nam.
					figure
						img(src="img/tour/pic1.jpg", alt="")
					p Six Senses Côn Đảo cũng từng nhận được nhiều giải thưởng bình chọn danh giá trong ngành du lịch. Như năm 2010, giải thưởng International Commercial Property Awards do kênh truyền hình Bloomberg (Mỹ) tài trợ. Đã tôn vinh khu nghỉ dưỡng Sixsenses Côn Đảo Resort & Spa 5 Sao là Công trình xây dựng và thiết kế xuất sắc nhất thế giới dành cho loại khách sạn dạng nhỏ.
					p Năm 2012, Sixsenses Côn Đảo đã vượt qua hai đối thủ Bulgari Hotel & Residences (Vương quốc Anh) và Victoria Tower Hotel (Thụy Điển) để trở thành khách sạn và khu du lịch nghỉ dưỡng tốt nhất. Và giành giải thưởng tại Hội Chợ Triển Lãm Bất Động Sản Quốc Tế (MIPIM), được tổ chức tại thành phố Cannes, Pháp.
					section.banner-qc.clearfix
						a(href="#")
							img(src="img/banner/ads1.jpg", alt="")
					figure
						img(src="img/tour/pic2.jpg", alt="")
					h5
						strong Nơi bạn được hòa mình hoàn toàn với thiên nhiên
					p Đặt tiêu chí yên tĩnh lên hàng đầu. Six Senses Côn Đảo nằm ẩn mình bên bờ biển đẹp xanh trong, thoai thoải cát trắng. Và hoàn toàn tách biệt với thế giới bên ngoài.
					figure
						img(src="img/tour/pic3.jpg", alt="")
					p Với 50 biệt thự được làm hoàn toàn bằng gỗ, nằm dọc sát bờ biển dài 1,6 km. Được thiết kế theo phong cách đơn giản nhưng sang trọng. Các biệt thự đều được trang bị đầy đủ tiện nghi với tiêu chuẩn 5 sao sang trọng nhưng cũng rất giản dị.
					section.banner-qc.clearfix
						a(href="#")
							img(src="img/banner/ads1.jpg", alt="")
					figure
						img(src="img/tour/pic4.jpg", alt="")
					p Toàn bộ khu nhà nghỉ ở đây đều xây dạng biệt thự riêng biệt từng cụm gần sát biển. Bao gồm phòng khách, phòng ngủ, hồ bơi, một số villa có nhà bếp và phòng ăn. Đáp ứng nhu cầu ở dài hạn của một gia đình nhỏ.
					p Ngoài ra, mỗi biệt thự đều có bể bơi riêng, có không gian tắm ngoài trời được bao bọc kín đáo. Mang đến cho du khách cảm giác bất tận và khác biệt.
					figure
						img(src="img/tour/pic5.jpg", alt="")
					h5 
						strong Đầy đủ không tiện nghi và các dịch vụ hạng sang
					p Khu nghỉ mát này tự hào với khu vực bãi biển riêng, spa ban ngày, sân tennis, các tiện nghi thể thao dưới nước và phòng tập thể dục. Ngoài nội thất sang trọng, các biệt thự đều có tủ lạnh với nhiều loại rượu nổi tiếng. Để thuận tiện, du khách có thể tận hưởng dịch vụ quản gia tại phòng nghỉ của mình vào bất cứ lúc nào. Mỗi biệt thự của Six Senses đều có khu vực ăn uống và tiếp khách rộng rãi.
					figure
						img(src="img/tour/pic6.jpg", alt="")
					h5
						strong Nhà hàng Six Senses Restaurant phục vụ bữa ăn được nấu với các nguyên liệu hữu cơ.
					p Du khách có thể lựa chọn ăn uống tại nhà hàng, khu vực bãi biển riêng. Hoặc trong sự thoải mái tại các biệt thự riêng của mình.
					section.banner-qc.clearfix
						a(href="#")
							img(src="img/banner/ads1.jpg", alt="")
					figure
						img(src="img/tour/pic7.jpg", alt="")
					p Bạn sẽ dễ dàng thưởng thức các món ăn quốc tế tại Deli’cious. Ẩm thực truyền thống Việt tại nhà hàng Vietnamese at the Market. Ngược lại, By the Beach là nhà hàng chính với tầm nhìn ra biển sẽ là nơi lý tưởng để thưởng thức các món hải sản, trái cây, rau xanh… Ngoài ra, Destination Dining sẽ gợi ý cho bạn những bữa tiệc BBQ, picnic ngon tuyệt.
					figure
						img(src="img/tour/pic8.jpg", alt="")
					h5
						strong Đặc biệt, resort còn tổ chức nhiều tour tham quan các thắng cảnh. Kết hợp khám phá thế giới sinh động của loài rùa.
					p Sau một ngày dài khám phá, du khách có thể thư giãn tại hệ thống spa đa dạng. Với các loại hình spa trong nhà, ngoài trời, yoga, thiền… Tất cả sẽ giúp tinh thần và thể chất của bạn phục hồi nhanh chóng. Cũng như tìm được những giây phút thư giãn tuyệt vời.
				.product-item
					figure
						.product-img
							img(src="img/tour/phuquoc.jpg", alt="")
						figcaption
							h1.product-main-name Tour 3 ngày 2 đêm tại Six Sense Côn Đảo
							//- time 1 ngày
							//- .product-location Phú Quốc, Kiên Giang
							.product-price
								//- .old Giá cũ: 
									strong 4.000.000 đ
									span.sale -35%
								.new Chỉ từ: 
									strong 2.600.000 đ
							.btn-wrap
								a.btn-buy(href="javascript:;" data-src="#booking-form" data-fancybox="") Mua ngay
					.content
						p 
							strong Giá bao gồm:
						ul
							li 1 đêm nghỉ dưỡng ở Vinpearl Hạ Long
							li Bữa ăn (theo gói)
							li Sử dụng các tiện ích: wifi, hồ bơi, phòng tập gym, bãi biển riêng, xe điện trong resort…
						p 
							strong Điều kiện áp dụng:
						ul
							li Giai đoạn lưu trú: 
								strong 01/11 – 30/12/17
							li Không áp dụng ngày cuối tuần (thứ 6, thứ 7)
							li Không áp dụng cho các ngày Lễ:
								ul
									li Đối với khách quốc tịch Việt Nam: 24/12/17
									li Đối với khách quốc tế: 22/12 – 30/12/17
							li Số lượng khách tối đa/phòng: 2 người lớn & 2 trẻ em hoặc 3 người lớn
				#booking-form.booking-form
					.row
						.col-12.col-md-5
							.icon
								img(src="img/icon/if_supportfemale_403018.png", alt="")
						.col-12.col-md-7
							.popup-title Tour 3 ngày 2 đêm tại Six Sense Côn Đảo
							.form-wrap
								.form-title Thời gian
								.form-group
									label Ngày đi
									.input.date
										input(type="text")
								.form-title Thông tin khách hàng
								.form-group
									label Họ và tên
									.input
										input(type="text")
								.form-group
									label Số di động
									.input
										input(type="text")
								.form-group
									label Email
									.input
										input(type="text")
								.form-group
									label Ghi chú
									.input
										textarea(name="", cols="30", rows="3")
								.frm-btn
									input(type="submit", value="Gửi yêu cầu")
				.share
					img(src="img/share.jpg", alt="")
				.fb-comment
					img(src="img/comment.jpg", alt="")
				
		.col-12.col-lg-4.col-xl-3
			.blog-author
				figure
					a.author-img(href="#!")
						img(src="img/user.png", alt="")
					figcaption
						h5.author-name
							a(href="#!") Trần Minh Mẫn
						.author-des 123 bài viết
			nav.blog-category.clearfix
				ul
					li
						a(href="#")
							.img
								img(src="img/tour/3.jpg", alt="")
							.text Điểm đến
					li
						a(href="#")
							.img
								img(src="img/amthuc/1.jpg", alt="")
							.text Ẩm thực
					li
						a(href="#")
							.img
								img(src="img/hotel/1.jpg", alt="")
							.text Khách sạn
					li.active
						a(href="#")
							.img
								img(src="img/tour/8.jpg", alt="")
							.text Cẩm nang du lịch
			section.blog-popular.clearfix
				h4.sidebar-title 
					span Bài viết nổi bật
				.post-list.clearfix
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/7.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Săn hoa dã quỳ ở Đà Lạt, bạn cần lưu ý những gì?
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/5.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") The Compass – hostel “đặc vị biển khơi” giữa lòng phố biển Đà Nẵng
								time 30/09/2017
			section.sidebar-insta.clearfix
				h4.sidebar-title 
					span Instagram
				.insta-user
					figure
						a.img(href="#")
							img(src="img/avt.jpg", alt="")
						figcaption
							.name 
								a(href="#") @dulich.me
							.des Tạp chí du lịch Việt Nam - Tôi mê du lịch
				.insta-picture
					.pic
						a(href="#")
							img(src="img/insta/1.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/2.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/3.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/4.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/5.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/6.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/7.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/8.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/9.jpg", alt="")
				a.btn-follow(href="#") Follow us on Instagram
	section.product-related.clearfix
		h3.small-title
			span Có thể bạn quan tâm
		.product-list
			.item
				a.product-col(href="#!")
					figure
						.product-img
							img(src="img/tour/1.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
							time 2 ngày 1 đêm
							.product-price
								.new 5.999.000 đ
								.old 7.999.000 đ
			.item
				a.product-col(href="#!")
					figure
						.product-img
							img(src="img/tour/2.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
							time 2 ngày 1 đêm
							.product-price
								.new 5.999.000 đ
								.old 7.999.000 đ
			.item
				a.product-col(href="#!")
					figure
						.product-img
							img(src="img/tour/3.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
							time 2 ngày 1 đêm
							.product-price
								.new 5.999.000 đ
								.old 7.999.000 đ
			.item
				a.product-col(href="#!")
					figure
						.product-img
							img(src="img/tour/4.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
							time 2 ngày 1 đêm
							.product-price
								.new 5.999.000 đ
								.old 7.999.000 đ
			.item
				a.product-col(href="#!")
					figure
						.product-img
							img(src="img/tour/5.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
							time 2 ngày 1 đêm
							.product-price
								.new 5.999.000 đ
								.old 7.999.000 đ