section#home-hotdeal.home-hotdeal.clearfix
	.container
		.hotdeal-list
			.row
				.col-12.col-lg-6
					.row
						.col-12
							a.deal-col.big(href="#").wow.fadeInUp
								figure
									.deal-img
										img(src="img/tour/3.jpg", alt="")
									figcaption
										h3.deal-name Tour Sài Gòn - Hà Nội
										time 2 ngày 1 đêm
										.deal-des Trải nghiệm và khám phá phong cảnh núi rừng miền Bắc nên thơ, hùng vĩ cùng Tour Sài Gòn - Hà Nội - Yên Tử 4N4Đ đẳng cấp 3 sao. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, id!
										.deal-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						.col-12.col-md-6
							a.deal-col(href="#").wow.fadeInUp
								figure
									.deal-img
										img(src="img/tour/2.jpg", alt="")
									figcaption
										h3.deal-name Tour Sài Gòn - Hà Nội
										time 2 ngày 1 đêm
										.deal-des Trải nghiệm và khám phá phong cảnh núi rừng miền Bắc nên thơ, hùng vĩ cùng Tour Sài Gòn - Hà Nội - Yên Tử 4N4Đ đẳng cấp 3 sao
										.deal-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						.col-12.col-md-6
							a.deal-col(href="#").wow.fadeInUp
								figure
									.deal-img
										img(src="img/tour/4.jpg", alt="")
									figcaption
										h3.deal-name Tour Sài Gòn - Hà Nội
										time 2 ngày 1 đêm
										.deal-des Trải nghiệm và khám phá phong cảnh núi rừng miền Bắc nên thơ, hùng vĩ cùng Tour Sài Gòn - Hà Nội - Yên Tử 4N4Đ đẳng cấp 3 sao
										.deal-price
											.new 5.999.000 đ
											.old 7.999.000 đ
				.col-12.col-lg-6
					.row
						.col-12
							.deal-col.wow.fadeInUp
								.intro
									h1.home-title Tour mới 
										strong nổi bật
									.des Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure vero, ut ad quod dignissimos molestiae illum odit obcaecati corporis exercitationem sint assumenda voluptatem alias! Rem voluptatum explicabo doloribus rerum sapiente.
						.col-12.col-lg-6
							a.deal-col.simi(href="#").wow.fadeInUp
								figure
									.deal-img
										img(src="img/tour/5.jpg", alt="")
									figcaption
										h3.deal-name Tour Sài Gòn - Hà Nội
										time 2 ngày 1 đêm
										.deal-des Trải nghiệm và khám phá phong cảnh núi rừng miền Bắc nên thơ, hùng vĩ cùng Tour Sài Gòn - Hà Nội - Yên Tử 4N4Đ đẳng cấp 3 sao
										.deal-price
											.new 5.999.000 đ
											.old 7.999.000 đ
							
						.col-12.col-lg-6
							a.deal-col(href="#").wow.fadeInUp
								figure
									.deal-img
										img(src="img/tour/6.jpg", alt="")
									figcaption
										h3.deal-name Tour Sài Gòn - Hà Nội
										time 2 ngày 1 đêm
										.deal-des Trải nghiệm và khám phá phong cảnh núi rừng miền Bắc nên thơ
										.deal-price
											.new 5.999.000 đ
											.old 7.999.000 đ
							a.deal-col(href="#").wow.fadeInUp
								figure
									.deal-img
										img(src="img/tour/7.jpg", alt="")
									figcaption
										h3.deal-name Tour Sài Gòn - Hà Nội
										time 2 ngày 1 đêm
										.deal-des Trải nghiệm và khám phá phong cảnh núi rừng miền Bắc nên thơ
										.deal-price
											.new 5.999.000 đ
											.old 7.999.000 đ
		section.banner-qc.clearfix.wow.fadeInUp
			a(href="#")
				img(src="img/banner/ads1.jpg", alt="")
		section.banner-qc.clearfix.wow.fadeInUp
			.row
				.col-12.col-lg-6
					a(href="#")
						img(src="img/banner/ads4.jpg", alt="")
				.col-12.col-lg-6
					a(href="#")
						img(src="img/banner/ads5.jpg", alt="")
		section.home-tour.clearfix
			h2.home-title.text-center.wow.fadeInUp Tour 
				strong phổ biến
			.tour-list
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/v1.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
								//- .tour-destination TP.Hồ Chí Minh - Hà Nội
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/v2.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Huế - Đà Nẵng - Hội An - Bà Nà
								//- .tour-destination TP.Hồ Chí Minh - Hà Nội
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/n5.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Nam Phi
								//- .tour-destination TP.Hồ Chí Minh - Nam phi
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/n6.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Nga
								//- .tour-destination TP.Hồ Chí Minh - Nga
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/v3.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Hồ Phú Ninh - Tam Thanh - Rừng Dừa Bảy Mẫu Đà Nẵng - Hội An - Bà Nà - Huế
								//- .tour-destination TP.Hồ Chí Minh - Hà Nội
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/v4.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Nha Trang - Đà Lạt
								//- .tour-destination TP.Hồ Chí Minh - Hà Nội
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/v5.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Đà Lạt - Trang Trại Rau & Hoa -  Núi LangBiang - Đường Hầm Điêu Khắc
								//- .tour-destination TP.Hồ Chí Minh - Hà Nội
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.tour-col(href="#").wow.fadeInUp
						figure
							.tour-img
								img(src="img/tour/v6.jpg", alt="")
								.btn-viewdetail Xem chi tiết
							figcaption
								h3.tour-name Du lịch Đà Lạt - KDL Trang Trại Rau & Hoa - Đường Hầm Đất Sét
								//- .tour-destination TP.Hồ Chí Minh - Hà Nội
								time 2 ngày 1 đêm
								.tour-price
									.new 5.999.000 đ
									.old 7.999.000 đ
			.btn-wrap.text-center.wow.fadeInUp
				a.btn-viewmore(href="#") Xem thêm
section.home-hotel.cleafix
	.container
		h2.home-title.text-center.wow.fadeInUp Khách sạn 
			strong nổi tiếng
		.hotel-list
			.item
				a.hotel-col(href="#").wow.fadeInUp
					figure
						.promotion.sale Sale off 30%
						.hotel-img
							img(src="img/hotel/1.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.hotel-name LA VIE EN ROSE 3 sao Gói 3N2Đ + 2 bữa sáng tại Đà Lạt
							.hotel-location Đà Lạt
							.hotel-price
								.new 1.500.000đ
								.old 2.500.000đ
							//- .hotel-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum autem beatae sunt dolorem at ipsa voluptatem cum doloremque dolores?
							
			.item
				a.hotel-col(href="#").wow.fadeInUp
					figure
						.promotion.sale Sale off 40%
						.hotel-img
							img(src="img/hotel/2.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.hotel-name Sunny Beach Resort & Spa Phan Thiết 4* + ăn sáng và ăn tối
							.hotel-location Phan Thiết
							.hotel-price
								.new 1.500.000đ
								.old 2.500.000đ
							//- .hotel-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum autem beatae sunt dolorem at ipsa voluptatem cum doloremque dolores?
							
			.item
				a.hotel-col(href="#").wow.fadeInUp
					figure
						.promotion.sale Sale off 35%
						.hotel-img
							img(src="img/hotel/3.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.hotel-name Khách sạn Phố Núi Đà Lạt 3* - Sát chợ, Ăn sáng 2 khách
							.hotel-location Đà Lạt
							.hotel-price
								.new 1.500.000đ
								.old 2.500.000đ
							//- .hotel-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum autem beatae sunt dolorem at ipsa voluptatem cum doloremque dolores?
							
			.item
				a.hotel-col(href="#").wow.fadeInUp
					figure
						.promotion.sale Sale off 20%
						.hotel-img
							img(src="img/hotel/4.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.hotel-name Amarin Resort & Spa 4 * Phú Quốc 2N1Đ + Buffet sáng & ăn trưa
							.hotel-location Phú Quốc
							.hotel-price
								.new 1.500.000đ
								.old 2.500.000đ
							//- .hotel-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum autem beatae sunt dolorem at ipsa voluptatem cum doloremque dolores?
							
			.item
				a.hotel-col(href="#").wow.fadeInUp
					figure
						.promotion.sale Sale off 20%
						.hotel-img
							img(src="img/hotel/5.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.hotel-name Nghỉ dưỡng 2N1Đ tại KDL Dìn Ký
							.hotel-location Bình Dương
							.hotel-price
								.new 1.500.000đ
								.old 2.500.000đ
							//- .hotel-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum autem beatae sunt dolorem at ipsa voluptatem cum doloremque dolores?
							
			.item
				a.hotel-col(href="#").wow.fadeInUp
					figure
						.promotion.sale Sale off 20%
						.hotel-img
							img(src="img/hotel/6.jpg", alt="")
							.link Xem chi tiết
						figcaption
							.hotel-name Khách sạn Stay Đà Nẵng 2N1Đ tiêu chuẩn 4 sao - Trung tâm TP
							.hotel-location Đà Nẵng
							.hotel-price
								.new 1.500.000đ
								.old 2.500.000đ
		.btn-wrap.text-center.wow.fadeInUp
			a.btn-viewmore(href="#") Xem thêm
		section.banner-qc.clearfix.wow.fadeInUp
			a(href="#")
				img(src="img/banner/ads12.jpg", alt="")
section.home-blog-wrap.clearfix
	.container
		.row
			.col-12.col-xl-9
				.home-food.clearfix
					.home-title.wow.fadeInLeft Ẩm thực
					.food-list.wow.fadeInLeft
						.row
							.col-12.col-md-7
								a.food-col.big(href="#")
									figure
										.food-img
											img(src="img/amthuc/1.jpg", alt="")
										figcaption
											.food-name Kimbap FC - Món Ăn Hàn Quốc
											.food-location TP.Hồ Chí Minh
											.food-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos officiis qui cum expedita vero neque ad! Quibusdam, minus corporis.
							.col-12.col-md-5
								a.food-col(href="#")
									figure
										.food-img
											img(src="img/amthuc/2.jpg", alt="")
										figcaption
											.food-name Mato House - Taiwan Healthy Tea
											.food-location TP.Hồ Chí Minh
											//- .food-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos officiis qui cum expedita vero neque ad! Quibusdam, minus corporis.
								a.food-col(href="#")
									figure
										.food-img
											img(src="img/amthuc/3.jpg", alt="")
										figcaption
											.food-name Đen Đá Cafe - Trà Sữa & Trà Đào
											.food-location TP.Hồ Chí Minh
											//- .food-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos officiis qui cum expedita vero neque ad! Quibusdam, minus corporis.
								a.food-col(href="#")
									figure
										.food-img
											img(src="img/amthuc/4.jpg", alt="")
										figcaption
											.food-name Quán Nước Mía 93 - Cách Mạng Tháng 8
											.food-location TP.Hồ Chí Minh
											//- .food-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos officiis qui cum expedita vero neque ad! Quibusdam, minus corporis.
								a.food-col(href="#")
									figure
										.food-img
											img(src="img/amthuc/6.jpg", alt="")
										figcaption
											.food-name Quán Nước Mía 93 - Cách Mạng Tháng 8
											.food-location TP.Hồ Chí Minh
								a.food-col(href="#")
									figure
										.food-img
											img(src="img/amthuc/7.jpg", alt="")
										figcaption
											.food-name Đen Đá Cafe - Trà Sữa & Trà Đào
											.food-location TP.Hồ Chí Minh
			.col-12.col-xl-3
				.home-video.clearfix
					.home-title.wow.fadeInRight Video
					.video-list.wow.fadeInRight
						a.video.big(href="#")
							figure
								.video-img
									img(src="img/tour/3.jpg", alt="")
								figcaption
									.video-name Cô gái Hà Nội phượt một mình qua 6 tỉnh ven biển
						a.video(href="#")
							figure
								.video-img
									img(src="img/tour/4.jpg", alt="")
								figcaption
									.video-name Sài Gòn náo nhiệt những ngày trước Tết
						a.video(href="#")
							figure
								.video-img
									img(src="img/tour/5.jpg", alt="")
								figcaption
									.video-name Điệp Sơn - Con đường ven biển đẹp nhất Việt Nam
						a.video(href="#")
							figure
								.video-img
									img(src="img/tour/6.jpg", alt="")
								figcaption
									.video-name Khu Du Lịch Tanyoli Đẹp Đến Từng Centimet
		section.banner-qc.clearfix.wow.fadeInUp
			a(href="#")
				img(src="img/banner/ads2.jpg", alt="")
section.home-blog.clearfix
	.container
		h2.home-title.text-center.wow.fadeInUp Cẩm nang 
			strong du lịch
		.blog-list
			.item
				a.blog-col.wow.fadeInUp(href="#!")
					figure
						.blog-img
							img(src="img/tour/2.jpg", alt="")
						figcaption
							h2.blog-name 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
							time 19/05/2017
							.blog-des Dành cho ai yêu thích được nghỉ ngơi tại resort, có biển, hồ bơi được tắm thỏa thích và  ăn sáng buffet, nhiều món cho…
			
			.item
				a.blog-col.wow.fadeInUp(href="#!")
					figure
						.blog-img
							img(src="img/tour/3.jpg", alt="")
						figcaption
							h2.blog-name Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
							time 19/05/2017
							.blog-des Với phong cách thiết kế hòa hợp mới thiên nhiên, sử dụng gỗ là chất liệu cho khu nhà nghỉ. Six Senses Côn Đảo chính là…
			
			.item
				a.blog-col.wow.fadeInUp(href="#!")
					figure
						.blog-img
							img(src="img/tour/4.jpg", alt="")
						figcaption
							h2.blog-name Săn hoa dã quỳ ở Đà Lạt, bạn cần lưu ý những gì?
							time 19/05/2017
							.blog-des Những ngày  Đà Lạt sang thu mang theo cả một mùa hoa dã quỳ nở rộ. Nhuộm vàng cả vùng cao nguyên rộng lớn. Đà…
			.item
				a.blog-col.wow.fadeInUp(href="#!")
					figure
						.blog-im
							img(src="img/tour/5.jpg", alt="")
						figcaption
							h2.blog-name The Compass – hostel “đặc vị biển khơi” giữa lòng phố biển Đà Nẵng
							time 19/05/2017
							.blog-des The Compass Hostel nằm ngay giữa trung tâm thành phố Đà Nẵng. Đây là địa điểm mới toe và hay ho cho các bạn trẻ…
							//- a.link(href="#") Xem chi tiết
			.item
				a.blog-col.wow.fadeInUp(href="#!")
					figure
						.blog-img
							img(src="img/tour/6.jpg", alt="")
						figcaption
							h2.blog-name Khách sạn phong cách như phim kiếm hiệp tại Phú Quốc
							time 19/05/2017
							.blog-des Cứ nghe người ta đồn mãi về cái hòn đảo Phú Quốc này, nào là đảo ngọc, nào là thiên đường biển Việt Nam. Mà…
							//- a.link(href="#") Xem chi tiết
			.item
				a.blog-col.wow.fadeInUp(href="#!")
					figure
						.blog-img
							img(src="img/tour/7.jpg", alt="")
						figcaption
							h2.blog-name 5 khách sạn view đẹp cạnh biển trên đường Thùy Vân , Vũng Tàu
							time 19/05/2017
							.blog-des Thùy Vân là một con đường nổi tiếng xinh đẹp của thành phố Vũng Tàu. Với các hàng cây rợp bóng mát và bao trọn…
							//- a.link(href="#") Xem chi tiết
		.btn-wrap.text-center.wow.fadeInUp
			a.btn-viewmore(href="#") Xem thêm
		section.banner-qc.clearfix.wow.fadeInUp
			a(href="#")
				img(src="img/banner/ads3.jpg", alt="")