section.promotion-page
	.container
		h2.page-title.text-center.wow.fadeInUp KHUYẾN MÃI
		.page-des.text-center.wow.fadeInUp Dulich.me hân hạnh mang đến cho bạn những khuyến mãi cực hot trong mùa Giáng Sinh năm nay với giá cực ưu đãi.
			br
			|Chúc bạn cùng gia đình có một kỳ nghỉ lễ vui vẻ!
		.promotion-list
			.row
				.col-12.col-lg-6
					.promotion.wow.fadeInUp
						figure
							a.promotion-img(href="#!")
								img(src="img/promotion/1.png", alt="")
				.col-12.col-lg-6
					.promotion.wow.fadeInUp
						figure
							a.promotion-img(href="#!")
								img(src="img/promotion/2.png", alt="")
				.col-12.col-lg-6
					.promotion.wow.fadeInUp
						figure
							a.promotion-img(href="#!")
								img(src="img/promotion/3.png", alt="")
				.col-12.col-lg-6
					.promotion.wow.fadeInUp
						figure
							a.promotion-img(href="#!")
								img(src="img/promotion/4.png", alt="")