section.breadcrumb-wrap.breadcrumb-wrap3.clearfix
	//- .breadcrumb-banner
		img(src="img/tour/3.jpg", alt="")
	.container
		//- h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tour
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tour trong nước
				meta(itemprop='position', content='3')
.container
	.row
		.col-12.col-lg-4.col-xl-3
			include filter
		.col-12.col-lg-8.col-xl-9
			section.tour-page.product-page.clearfix
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.product-page-banner.clearfix.wow.fadeInUp
					.item
						a.img(href="#!")
							img(src="img/banner/bads1.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/banner/bads2.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/banner/bads3.jpg", alt="")
				.category-info.clearfix.wow.fadeInUp.wow.fadeInUp
					.page-name-wrap
						h1.page-title Tour trong nước
						.amount Tìm thấy <strong>60</strong> sản phẩm
					.product-sort.clearfix
						select
							option(value="#") Sắp xếp theo
							option(value="#") Bán chạy nhất
							option(value="#") Hàng mới về
							option(value="#") Giá cao nhất
							option(value="#") Giá thấp nhất
				.product-list.clearfix
					.row
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/1.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/2.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/3.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/4.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/5.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/6.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/7.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/8.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/9.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12
							section.banner-qc.clearfix.wow.fadeInUp
								a(href="#")
									img(src="img/banner/ads1.jpg", alt="")
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/1.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/2.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/3.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/4.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/5.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/6.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/7.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/8.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12.col-sm-6.col-md-4.wow.fadeInUp
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/tour/9.jpg", alt="")
										.link Xem chi tiết
									figcaption
										.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
										time 2 ngày 1 đêm
										.product-price
											.new 5.999.000 đ
											.old 7.999.000 đ
						article.col-12
							section.banner-qc.clearfix.wow.fadeInUp
								a(href="#")
									img(src="img/banner/ads2.jpg", alt="")
				.pages.wow.fadeInUp
					ul.pagination
						li
							a(href="#") 1
						li.active
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4