section.breadcrumb-wrap.breadcrumb-wrap3.clearfix
	//- .breadcrumb-banner
		img(src="img/tour/3.jpg", alt="")
	.container
		//- h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tour
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tour trong nước
				meta(itemprop='position', content='3')
.container
	section.tour-page.product-page.clearfix
		.row
			.col-12.col-lg-6
				.slide-wrap
					.product-slide
						.item
							a.img(href="img/tour/phuquoc.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc2.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc2.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc3.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc3.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc4.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc4.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc5.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc5.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc6.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc6.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc7.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc7.jpg", alt="")
						.item
							a.img(href="img/tour/phuquoc8.jpg" data-fancybox="gal1")
								img(src="img/tour/phuquoc8.jpg", alt="")
					.product-nav
						.item
							.img
								img(src="img/tour/phuquoc.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc2.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc3.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc4.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc5.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc6.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc7.jpg", alt="")
						.item
							.img
								img(src="img/tour/phuquoc8.jpg", alt="")
			.col-12.col-lg-6
				.product-info
					.product-id Mã sản phẩm: <strong>29311</strong>
					h1.product-main-name Tour Phú Quốc: Câu Cá - Lặn Ngắm San Hô, Khởi Hành Hàng Ngày
					time 1 ngày
					.product-location Phú Quốc, Kiên Giang 
						a(href="" data-fancybox="map") Xem bản đồ
						|.
					.product-overview.content
						p Cùng tham gia tour du lịch Phú Quốc - Câu cá và lặn ngắm san hô 1 ngày và cùng tận hưởng những khoảnh khắc thư giãn đầy thú vị bên cạnh bạn bè và những người thân yêu của mình. Chỉ 260.000đ cho trị giá 400.000đ.
					.product-price
						.old 400.000 đ
							span.sale -35%
						.new 260.000 đ
					.input-number
						.btn-spin.btn-dec -
						input(type="text" value="1")
						.btn-spin.btn-inc +
					.product-intro
						.intro-col
							figure
								.icon <i class="fa fa-mobile" aria-hidden="true"></i>
								figcaption
									.title Voucher điện tử (Email/SMS)
					.btn-wrap
						a.btn-buy(href="#" data-toggle="modal" data-target="#booktour") Mua ngay
					.share
						img(src="img/share.jpg", alt="")
		section#product-policy.product-policy.clearfix
			.policy-wrap
				.row
					.col-12.col-md-6
						h3.small-title 
							span Đặc điểm nổi bật
						.content
							p Tour du lịch Phú Quốc - Câu cá và lặn ngắm san hô 1 ngày được tổ chức bởi Công ty Du lịch Rồng Vàng Phú Quốc hứa hẹn sẽ mang đến cho du khách những trải nghiệm lý thú, những khám phá mới mẻ về Đảo Ngọc Phú Quốc.
							p Du khách không chỉ được nghỉ ngơi thư giãn ở những bãi biển đẹp mang nét hoang sơ, được vẫy vùng trong làn nước biển trong xanh mà còn thoả mãn thú phiêu lưu mạo hiểm khi lặn xuống làn nước xanh mát hay ngắm nhìn những rạn san hô rực rỡ sắc màu.
							p Được tham quan di tích Nhà Tù Phú Quốc và tìm hiểu quy trình nuôi trai lấy ngọc tại một cơ sở sản xuất ngọc trai danh tiếng.
							p Tour được khởi hành hàng ngày, di chuyển bằng xe du lịch máy lạnh đời mới, có HDV phục vụ suốt tuyến.
							p Thông tin chi tiết vui lòng liên hệ:
								ul
									li 
										strong CÔNG TY TNHH MTV DU LỊCH RỒNG VÀNG PHÚ QUỐC
									li Địa chỉ: Tổ 4, Ấp Cửa Lấp, Xã Dương Tơ, Huyện Phú Quốc, Tỉnh Kiên Giang
									li Hotline hỗ trợ đặt tour/ phòng/ vé máy bay giá rẻ (8h - 18h): 1900 6805
									li Email: 
										a(href="mailto:booking@dulich.me") booking@dulich.me
					.col-12.col-md-6
						h3.small-title 
							span Lưu ý khi mua
						.content
							p VOUCHER TRỊ GIÁ 400.000Đ
							ul
								li Áp dụng cho Tour Phú Quốc - Câu cá - Lặng ngắm san hô 01 ngày được tổ chức bởi Du Lịch Rồng Vàng Phú Quốc.
								li Lịch khởi hành dự kiến: Hằng ngày.
								li Địa điểm đón khách: Xe và HDV đón khách tại Khách sạn Trung tâm Thị trấn Dương Đông ở Phú Quốc.
								li Hạn sử dụng voucher từ 11/12/2016 - 31/12/2017.
							p BAO GỒM:
							ul
								li Xe vận chuyển đời mới máy lạnh đưa đón theo chương trình.
								li Tàu tham quan.
								li Ăn trưa theo chương trình trên tàu.
								li Phao bơi, kính lặn, ống thở.
								li Hướng dẫn viên tiếng Việt/ tiếng Anh.
								li Nước suối: 01 chai 500ml/ khách/ ngày.
								li Bảo hiểm du lịch. Mức bồi thường tối đa: 10.000.000Đ/ trường hợp.
								li VAT 10%.
							p KHÔNG BAO GỒM:
							ul
								li Chi phí cá nhân ngoài chương trình.
								li Tiền tip cho tổ phục vụ.
							p CHÍNH SÁCH TRẺ EM & PHỤ THU:
								li Trẻ em dưới 06 tuổi: miễn phí (gia đình tự lo cho bé). Hai người lớn chỉ được kèm 01 trẻ em dưới 06 tuổi, trẻ thứ hai trở lên tính 50% giá vé.
								li Trẻ em từ 06 - dưới 12 tuổi: tính 60% giá vé (ngủ chung với gia đình, các dịch vụ khác như người lớn). Hai người lớn chỉ được kèm 01 trẻ em từ 06 - dưới 12 tuổi, trẻ thứ hai trở lên tính 01 voucher.
								li Trẻ em từ 12 trở lên: 01 voucher như người lớn.
								li Phụ thu cuối tuần hoặc các dịp Lễ: 50.000Đ/ khách.
							p ĐIỀU KIỆN ĐẶT TOUR:
								li Khách hàng vui lòng liên hệ đặt tour trước 10 ngày làm việc. Vui lòng gọi tổng đài tư vấn & đặt tour/ phòng/ vé máy bay giá rẻ từ 8h - 18h theo số Hotline 1900 6805 để được phục vụ tốt hơn.
								li Trường hợp thay đổi lịch nghĩ dưỡng đã đặt khách hàng phải thông báo trước 07 ngày khởi hành và không giải quyết quá 01 lần thay đổi.
							p KHÁCH HÀNG HỦY DỊCH VỤ:
								li Đối với vé máy bay: khách hàng thanh toán 100% giá vé.
								li Hủy dịch vụ trước 07 ngày khởi hành: mất phí 50% vé tour.
								li Hủy dịch vụ trước 05 ngày khởi hành: mất phí 75% vé tour.
								li Hủy dịch vụ trước 03 ngày khởi hành: mất phí 100% vé tour.
							p KHÁCH HÀNG DỜI DỊCH VỤ SANG NGÀY KHÁC:
								li Phải báo trước 07 ngày và chỉ được dời 01 lần với điều kiện Nhóm Mua Travel có dịch vụ tương ứng.
								li Nếu khách hàng không đồng ý hay Nhóm Mua Travel không có dịch vụ tương ứng, áp dụng theo quy định hủy vé.
							p NHÓM MUA TRAVEL HỦY DỊCH VỤ:
							ul
								li Do đây là tour lẻ ghép khách, sẽ có những trường hợp không đủ đoàn để khởi hành
								li Trong vòng 05 ngày trước khi khởi hành Nhóm Mua Travel sẽ thông báo lý do và mong khách hàng hỗ trợ dời ngày.
								li Nếu khách hàng không đồng ý: Nhóm Mua Travel sẽ hoàn lại tiền vào tài khoản Nhóm Mua.
								li Trường hợp Nhóm Mua Travel thông báo trễ hơn 05 ngày trước ngày khởi hành và cũng không có ngày khởi hành, hay tuyến khác phù hợp yêu cầu khách. Nhóm Mua Travel sẽ hoàn lại tất cả tiền khách đã đóng (không bao gồm vé máy bay) cho quý khách.
							p Voucher chỉ cấp 01 lần, quý khách làm mất chúng tôi không thể cấp lại.
							p Voucher không có giá trị quy đổi thành tiền. Không dùng chung với chương trình khuyến mãi khác.
							p Voucher còn hạn sử dụng đã đặt tour thì được dời ngày sử dụng 01 lần theo quy định deal và không được trả bất kỳ lý do gì.
							p Voucher còn hạn sử dụng và chưa đặt tour thì được trả với bất cứ lý do gì.
			.btn-wrap.text-center
				.btn-expand Xem thêm
		.row
			.col-12.col-lg-8.col-xl-9
				section.product-detail.clearfix
					#product-tabs
						ul.tabs-list
							li.tab-link
								a(href='#tab-1') Thông tin chi tiết
							li.tab-link
								a(href='#tab-2') Địa điểm
							li.tab-link
								a(href='#tab-3') Đánh giá / Bình luận
						#tab-1.tab-content
							.content
								p Phú Quốc là huyện đảo ngoài khơi lớn nhất Việt Nam, nằm trong vịnh Thái Lan, thuộc địa phận tỉnh Kiên Giang. Nơi đây đẹp một cách lặng lẽ, yên bình như một làng quê xưa với nét uy nghiêm của những chứng tích lịch sử cùng nét hoang sơ của những tạo tác mà thiên nhiên đã ban tặng cho mảnh đất này.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(10).jpg", alt="")
								p Phú Quốc, hay còn là đảo Ngọc, là đảo lớn nhất Việt Nam, diện tích tương đương đất nước Singapore nằm cách Hà Tiên 45km và cách Rạch Giá 120km. Với vị trí nằm gần cuối cực nam đất nước, Phú Quốc vẫn còn mang trong mình nét nguyên sơ chưa được khám phá hết của rừng, biển. Điều này làm nên nét khác biệt của vùng biển Phú Quốc, luôn mang trong mình dáng vẻ hiền hòa mà quyến rũ.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(8).jpg", alt="")
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(11).jpg", alt="")
								p Đến với tour du lịch Phú Quốc - Câu cá và lặn ngắm san hô 1 ngày lần này cùng với công ty TNHH MTV DL Rồng Vàng Phú Quốc, du khách sẽ không chỉ được nghỉ ngơi thư giãn ở những bãi biển đẹp mang nét hoang sơ, được vẫy vùng trong làn nước biển trong xanh mà còn thoả mãn thú phiêu lưu mạo hiểm khi lặn xuống làn nước xanh mát hay ngắm nhìn những rạn san hô rực rỡ sắc màu.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(1).jpg", alt="")
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(6).jpg", alt="")
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(7).jpg", alt="")
								p Bãi Sao thuộc thị trấn An Thới quan tàn cây dứa dại và cây muốn biển, trập trùng đại dương xanh dịu mở ra. Với bờ cát trắng mịn như kem dài hơn 7 cây số, dáng công thoai thoải tựa như vầng trăng. Bãi Sao chính là một trong những bãi biển đẹp nhất của Phú Quốc với cát trắng lấp lánh tại bãi Sao, và được hòa mình vào không khí trong lành do những làn gió mát rượi từ biển khơi thổi vào. Biển Phú Quốc, với làn nước xanh trong màu ngọc bích mát rượi sẽ mang đến những giây phút thư giãn, bình yên.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(2).jpg", alt="")
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(3).jpg", alt="")
								p Sau khi tham quan Bãi Sao, du khách sẽ khởi hành đi tham quan và tìm hiểu thêm về lịch sử Phú Quốc - nơi tập trung điển hình về tội ác của chế độ Mỹ - Ngụy ở miền Nam Việt Nam. Ở đây kẻ thù tự đặt ra nhiều kiểu hành hạ con người một cách cực kì dã man, tàn bạo cả về tinh thần lẫn thể xác tù nhân.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(14).jpg", alt="")
								p Điểm dừng chân cuối cùng của du khách sẽ là một cơ sở nuôi trồng và sản xuất ngọc trai có danh tiếng tại Phú Quốc. Du khách sẽ được tìm hiểu quy trình nuôi trai lấy ngọc ,với điều kiện thuận lợi những con trai nơi đây sinh trưởng tốt phát triển mạnh mẽ và cho ra những viên ngọc trai chất lượng và có giá trị cao. Bên cạnh những viên ngọc trai quý giá, du khách sẽ còn được chiêm ngưỡng những nghệ nhân khéo tay xứ đảo còn tận dụng vỏ ngọc trai để chế tác thành các món đồ trang trí sặc sỡ, hoặc làm những mặt dây chuyền hình trái tim, hình cây thánh giá... rất dễ thương, là món hàng thời trang ưa thích của tuổi thanh, thiếu niên.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(5).jpg", alt="")
								p Phú Quốc được ví như một đảo ngọc hay như một cô gái trẻ căng đầy sức sống, có vẻ đẹp bí ẩn, càng khám phá càng thấy lý thú. Đừng bỏ qua cơ hội trải nghiệm tour du lịch Phú Quốc - Câu cá và lặn ngắm san hô 1 ngày với mức giá cực ưu đãi này bạn nhé!
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(9).jpg", alt="")
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(4).jpg", alt="")
								p Sáng: xe và HDV đón khách tại khách sạn khởi hành tham quan Bãi Sao - Một bãi biển được bình chọn là một trong mười bãi biển đẹp nhất thế giới ,đến đây quý khách sẽ cảm nhận được cảm giác thoải mái khi trầm mình dưới làn nước trong xanh, mát rượi. Đoàn có thể tham gia một chương trình đầy thú vị đó là câu cá và lặn ngắm san hô.
								p Trưa: Đoàn ghé tham quan di tích Nhà Tù Phú Quốc – Nơi mà các chiến sĩ yêu nước đã cắn chặt răng chịu đựng những hình thức tra tấn giã man – Cảm nhận nổi đau của các chiến sĩ yêu nước và sống với niềm tự hào dân tộc. Tham quan cơ sở nuôi cấy ngọc trai – Tìm hiểu quy trình nuôi trai lấy ngọc ,với điều kiện thuận lợi những con trai nơi đây sinh trưởng tốt phát triển mạnh mẽ và cho ra những viên ngọc trai chất lượng và có giá trị cao.
								p Chiều: Kết thúc chương trình, xe và HDV đưa khách về lại khách sạn.
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(12).jpg", alt="")
								figure
									img(src="http://resources.nhommua.com/FTPProduct/29311/DU-LICH-PHU-QUOC-CAU-CA-VA-LAN-NGAM-SAN-HO-1-NGAY%20(13).jpg", alt="")
							.product-item
								figure
									.product-img
										img(src="img/tour/phuquoc.jpg", alt="")
									figcaption
										h1.product-main-name Tour Phú Quốc: Câu Cá - Lặn Ngắm San Hô, Khởi Hành Hàng Ngày
										//- time 1 ngày
										//- .product-location Phú Quốc, Kiên Giang
										.product-price
											.old 400.000 đ
												span.sale -35%
											.new 260.000 đ
										.btn-wrap
											a.btn-buy(href="#!") Mua ngay
							//- .share
								img(src="img/share.jpg", alt="")
						#tab-2.tab-content
							#map.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62813.35659820038!2d103.94230409937559!3d10.27489234130685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a78c62b49eda17%3A0x8aa79fbbdd72cdb!2zUGjDuiBRdeG7kWM!5e0!3m2!1sen!2s!4v1508386541970" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)
						#tab-3.tab-content
							.fb-comment
								img(src="img/comment.jpg", alt="")
			.col-12.col-lg-4.col-xl-3
				section.product-place.clearfix
					h3.sidebar-title
						span Địa chỉ sử dụng
					.content
						p
							strong CÔNG TY TNHH MTV DL RỒNG VÀNG PHÚ QUỐC
						p Tổ 4, Ấp Cửa Lấp, Xã Dương Tơ, Huyện Phú Quốc, Tỉnh Kiên Giang

				section.blog-popular.clearfix
					h4.sidebar-title 
						span Bài viết liên quan
					.post-list.clearfix
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/7.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/4.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Săn hoa dã quỳ ở Đà Lạt, bạn cần lưu ý những gì?
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/5.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") The Compass – hostel “đặc vị biển khơi” giữa lòng phố biển Đà Nẵng
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/6.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/8.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/9.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/10.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Săn hoa dã quỳ ở Đà Lạt, bạn cần lưu ý những gì?
									time 30/09/2017
						.post
							figure
								a.post-img(href="#")
									img(src="img/tour/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
									time 30/09/2017
		section.product-related.clearfix
			h3.small-title
				span Có thể bạn quan tâm
			.product-list
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/tour/1.jpg", alt="")
								.link Xem chi tiết
							figcaption
								.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
								time 2 ngày 1 đêm
								.product-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/tour/2.jpg", alt="")
								.link Xem chi tiết
							figcaption
								.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
								time 2 ngày 1 đêm
								.product-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/tour/3.jpg", alt="")
								.link Xem chi tiết
							figcaption
								.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
								time 2 ngày 1 đêm
								.product-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/tour/4.jpg", alt="")
								.link Xem chi tiết
							figcaption
								.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
								time 2 ngày 1 đêm
								.product-price
									.new 5.999.000 đ
									.old 7.999.000 đ
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/tour/5.jpg", alt="")
								.link Xem chi tiết
							figcaption
								.product-name Du lịch Hà Nội - Lào Cai - Sapa - Hạ Long
								time 2 ngày 1 đêm
								.product-price
									.new 5.999.000 đ
									.old 7.999.000 đ