section.breadcrumb-wrap.clearfix
	.breadcrumb-banner
		img(src="img/tour/3.jpg", alt="")
	.container
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Video
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Cẩm nang du lịch
				meta(itemprop='position', content='3')
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.blog-page.clearfix
				h1.page-title Video
				.blog-list.video-list.clearfix
					.row
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/2.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
										.blog-des Dành cho ai yêu thích được nghỉ ngơi tại resort, có biển, hồ bơi được tắm thỏa thích và  ăn sáng buffet, nhiều món cho…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/3.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
										.blog-des Với phong cách thiết kế hòa hợp mới thiên nhiên, sử dụng gỗ là chất liệu cho khu nhà nghỉ. Six Senses Côn Đảo chính là…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/4.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") Săn hoa dã quỳ ở Đà Lạt, bạn cần lưu ý những gì?
										.blog-des Những ngày  Đà Lạt sang thu mang theo cả một mùa hoa dã quỳ nở rộ. Nhuộm vàng cả vùng cao nguyên rộng lớn. Đà…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/5.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") The Compass – hostel “đặc vị biển khơi” giữa lòng phố biển Đà Nẵng
										.blog-des The Compass Hostel nằm ngay giữa trung tâm thành phố Đà Nẵng. Đây là địa điểm mới toe và hay ho cho các bạn trẻ…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/6.jpg", alt="")
									figcaption
										h2.blog-name 
											a(href="#") Khách sạn phong cách như phim kiếm hiệp tại Phú Quốc
										.blog-des Cứ nghe người ta đồn mãi về cái hòn đảo Phú Quốc này, nào là đảo ngọc, nào là thiên đường biển Việt Nam. Mà…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/7.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") 5 khách sạn view đẹp cạnh biển trên đường Thùy Vân , Vũng Tàu
										.blog-des Thùy Vân là một con đường nổi tiếng xinh đẹp của thành phố Vũng Tàu. Với các hàng cây rợp bóng mát và bao trọn…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/8.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") Đến Mũi Né, hãy ghé lâu đài rượu vang độc đáo có 1-0-2 tại đây!
										.blog-des Lâu đài rượu vàng tại resort 5 sao  – Sea links, Mũi Né là một trong những điểm nhấn cực ấn tượng trong khu nghỉ dưỡng…
										.blog-cate Video 
										time 19/05/2017
						.col-12.col-md-4.col-lg-6
							.blog-col
								figure
									a.blog-img(href="https://www.youtube.com/watch?v=RqcjBLMaWCg" data-fancybox="")
										img(src="img/tour/9.jpg", alt="")
									figcaption
										h2.blog-name
											a(href="#") Những homestay Đà Lạt gây bão khiến dân tình chao đảo trong 2017
										.blog-des “Dăm bữa, nửa tháng lại xuất hiện kiểu mới” đó là câu nói khi nhắc tới cụm từ “Homestay” tại Đà Lạt. Thật vậy, nếu bạn…
										.blog-cate Video 
										time 19/05/2017
				.pages
					ul.pagination
						li
							a(href="#") 1
						li.active
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
		.col-12.col-lg-4.col-xl-3
			//- nav.blog-category.clearfix
				//- h3.sidebar-title Chuyên mục blog
				ul
					li
						a(href="#")
							.img
								img(src="img/tour/3.jpg", alt="")
							.text Điểm đến
					li
						a(href="#")
							.img
								img(src="img/amthuc/1.jpg", alt="")
							.text Ẩm thực
					li
						a(href="#")
							.img
								img(src="img/hotel/1.jpg", alt="")
							.text Khách sạn
					li.active
						a(href="#")
							.img
								img(src="img/tour/8.jpg", alt="")
							.text Cẩm nang du lịch
			section.blog-popular.clearfix
				h4.sidebar-title 
					span Video nổi bật
				.post-list.video-list.clearfix
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/7.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Săn hoa dã quỳ ở Đà Lạt, bạn cần lưu ý những gì?
								time 30/09/2017
					.post
						figure
							a.post-img(href="#")
								img(src="img/tour/5.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") The Compass – hostel “đặc vị biển khơi” giữa lòng phố biển Đà Nẵng
								time 30/09/2017
			section.sidebar-insta.clearfix
				h4.sidebar-title 
					span Instagram
				.insta-user
					figure
						a.img(href="#")
							img(src="img/avt.jpg", alt="")
						figcaption
							.name 
								a(href="#") @dulich.me
							.des Tạp chí du lịch Việt Nam - Tôi mê du lịch
				.insta-picture
					.pic
						a(href="#")
							img(src="img/insta/1.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/2.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/3.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/4.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/5.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/6.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/7.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/8.jpg", alt="")
					.pic
						a(href="#")
							img(src="img/insta/9.jpg", alt="")
				a.btn-follow(href="#") Follow us on Instagram