footer
	section.subscribe.clearfix
		.container
			.subscribewrap
				.module-title Đăng ký nhận bản tin
				.subscribefrm
					input(type="text" placeholder="Địa chỉ email...")
					button.subscribebutton Đăng ký
	.container
		section.footer-top.clearfix
			.row
				.col-12.col-sm-6.col-md-4.col-lg-3
					nav.footer-col
						.title 
							span Điểm đến
						.post-list.clearfix
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/1.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
										time 30/09/2017
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/2.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
										time 30/09/2017
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/3.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
										time 30/09/2017
									
				.col-12.col-sm-6.col-md-4.col-lg-3
					nav.footer-col
						.title 
							span Khách sạn
						.post-list.clearfix
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/4.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
										time 30/09/2017
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/5.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
										time 30/09/2017
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/6.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
										time 30/09/2017
				.col-12.col-sm-6.col-md-4.col-lg-3
					nav.footer-col
						.title 
							span Ẩm thực
						.post-list.clearfix
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/7.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") 6 khu resort view đẹp giá lại rẻ có tiếng tại Phan Thiết
										time 30/09/2017
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/8.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") Thiên đường nghỉ dưỡng Maldives ngay tại Côn Đảo, Việt Nam
										time 30/09/2017
							.post
								figure
									a.post-img(href="#")
										img(src="img/tour/9.jpg", alt="")
									figcaption
										h3.post-name
											a(href="#") Những chiếc bánh trung thu vô cùng “kỳ quặc” trong năm 2017 này
										time 30/09/2017
				.col-12.col-sm-6.col-md-4.col-lg-3
					.footer-col
						.title
							span Follow us on Facebook
						.fb-fanpage
							img(src="img/fanpage.jpg", alt="")
		section.footer-main.clearfix
			.row
				.col-12.col-lg-3
					.footer-col
						.sitelogo
							a(href="#")
								img(src="img/logo.png", alt="")
						.company Công ty TNHH Thương Mại Dịch Vụ Vạn Thành Tài
						.contact-info
							p Dulich.me cung cấp cho bạn thông tin về du lịch, địa điểm, ẩm thực, khách sạn, hữu ích.
				.col-12.col-lg-6
					.footer-col
						.title
							span Thông tin liên hệ
						.contact-info
							ul
								li <i class="fa fa-file" aria-hidden="true"></i>Mã Số doanh nghiệp: 0313162898 do sở KHĐT TPHCM cấp ngày 16/03/2015
								li <i class="fa fa-map-marker" aria-hidden="true"></i>Địa chỉ: 2A,Đường 1C, Phường Bình Trị Đông B, Quận Bình Tân, TPHCM
								li <i class="fa fa-user" aria-hidden="true"></i>Đại diện: Nguyễn Thụy Ý Quyên
								li <i class="fa fa-phone" aria-hidden="true"></i>Điện thoại: 
									a(href="tel:0967 67 97 97") 0967 67 97 97
								li <i class="fa fa-envelope" aria-hidden="true"></i>E-mail: 
									a(href="mailto:huynhthanhstc@gmail.com") huynhthanhstc@gmail.com
				.col-12.col-lg-3
					.footer-col
						.title
							span Theo dõi chúng tôi
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
						.copyright Copyright © 2017 Dulich.me.

.up <i class="fa fa-chevron-up" aria-hidden="true"></i>